# 컴파일된 Java 클래스 파일
*.class

# 로그 파일
logs/**
*.log
*.out

# 디렉터리 및 IDE 설정 파일
/.idea/
/.vscode/
/target/
/bin/
/build/
/out/

# Maven & Gradle
/.mvn/
/.gradle/
*.iml
*.jar
*.war
# 운영 체제 관련 파일
.DS_Store
Thumbs.db

# 환경 파일
.env
.gitignore
*.properties
# 테스트 보고서
/test-output/
